In [1]:
import pandas as pd
import seaborn as sns

In [3]:
data=pd.read_csv("Cars_data.csv")

In [4]:
df=data.copy()

In [5]:
df.head(10)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765","$79,978",3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508",1.8,4.0,170.0,22.0,31.0,3252.0,104.0,179.0
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506",1.8,4.0,170.0,23.0,30.0,3638.0,105.0,180.0
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846",3.0,6.0,220.0,20.0,28.0,3462.0,104.0,179.0

In [6]:
df.isnull()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
428,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().values.any()

True

In [13]:
df["Make"].unique()

array(['Acura', 'Audi', 'BMW', nan, 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [14]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [15]:
df.isnull().sum().sum()

62

In [89]:
#df.dropna(inplace=True)

In [90]:
df.isnull().sum()

Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [91]:
df.isnull().sum().sum()

0

In [92]:
df["Horsepower"].min()

73.0

In [93]:
df["Horsepower"].max()

500.0

In [94]:
df["Horsepower"].mean()

215.76235294117646

In [95]:
df.drop(["Horsepower"],axis=1)

,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,24.0,31.0,2778.0,101.0,172.0
2,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,22.0,29.0,3230.0,105.0,183.0
3,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,20.0,28.0,3575.0,108.0,186.0
4,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,18.0,24.0,3880.0,115.0,197.0
5,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,21.0,28.0,3450.0,105.0,186.0
428,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,20.0,26.0,3450.0,105.0,186.0
429,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,19.0,26.0,3653.0,110.0,190.0
430,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,22.0,29.0,2822.0,101.0,180.0
431,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,20.0,27.0,3823.0,109.0,186.0

In [96]:
df.drop(["Model"], axis=1)

,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [101]:
df["Horsepower"].sort_values()

152     73.0
151     93.0
408    100.0
174    103.0
70     103.0
       ...
338    477.0
275    493.0
274    493.0
266    493.0
116    500.0
Name: Horsepower, Length: 425, dtype: float64

In [109]:
df["Horsepower"].sort_values(ascending=False)

116    500.0
266    493.0
275    493.0
274    493.0
338    477.0
       ...
69     103.0
70     103.0
408    100.0
151     93.0
152     73.0
Name: Horsepower, Length: 425, dtype: float64

In [110]:
df["Cylinders"].sort_values(ascending=False)

266    12.0
275    12.0
416    12.0
120    10.0
116    10.0
       ...
172     4.0
333     4.0
174     4.0
1       4.0
152     3.0
Name: Cylinders, Length: 425, dtype: float64